body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
}

/* HEADER */
header {
    background-color: #020617;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

header h1 {
    color: #3b82f6;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #e5e7eb;
    text-decoration: none;
}

nav a:hover {
    color: #3b82f6;
}

/* SECCIÓN INICIO */
#inicio {
    text-align: center;
    padding: 100px 20px;
}

#inicio h2 {
    font-size: 40px;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #3b82f6;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #2563eb;
}

/* PRODUCTOS */
#tienda {
    padding: 40px;
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

/* TARJETAS */
.card {
    background-color: #1e293b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* FOOTER */
footer {
    background-color: #020617;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
